<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/" method="get" id = "search">
  <input type="text" name="search"></input>
  <input type="submit" value="Search"></input>
</form>
<p><a href="http://127.0.0.1:5000/">Home</a></p>

<table style="width:100%">
  <tr>
    <th id = "heading">Name</th>
    <th>Phone number</th>
  </tr>
  {%for contact in contacts%}
    <tr id={{contact[0]}}>
        <td>{{contact[0]}}</td>
        <td>{{contact[1]}}</td>
        <td><button type="button" onclick="delete_function()">delete!</button></td>
  </tr>
{%endfor%}

</table>
<script>
function delete_function(){
    var xhr1 = new XMLHttpRequest();
    xhr1.open('DELETE', "http://127.0.0.1:5000/?name=zh", true);
    xhr1.onreadystatechange = function() {
        if (this.status == 200 && this.readyState == 4) {
        console.log (this.responseText);
        }
    }
    xhr1.send();
}
// 1in html oneclik javascriptm:   cuc ta en html
//grel kod vory cuyc kta html elementy vory kanchel e delet funkcian
//kanchox buttony imanaluc heto jnjel et toxy

</script>

<form action="/" method="post" id = "add">
  <input type="text" name="user_name"></input>
  <input type="text" name="phone_number"></input>
  <input type="submit" value="Add Contact"></input>
</form>
</body>
</html>

